<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/images/weatherIcon.webp">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="errorMessage">{{errorMessage}}</p>
    </div>

    {{>footer}}
</body>

</html>