<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weatherIcon.webp">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="aboutImage" src="images/weather.jpg" alt="Weather">
    </div>

    {{>footer}}
</body>

</html>